@charset "UTF-8";

body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select{
    padding: 0;
    margin: 0;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
    color: #424241;
}
body{
    font-family: 'NanumBarunGothic', sans-serif;
    font-size: 16px;
    line-height: 28px;
    color: #424241;
    font-weight: 100;
}
#wrap{
    min-width: 1360px;
}
/*header*/
#header{
    height: 1053px;
    background: url(../images/sub4/header_bg.png) no-repeat top center;
}
.inner_header{
    width: 100%;
    height: 165px;
    position: fixed;
    top: 0;
    left: 0%;
    z-index: 15;
}
.util_wrap{
    width: 1320px;
    margin: 0 auto;
    position: relative;
}
.util{
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 9;
}
.util li{
    float: left;
}
.util li a{
    padding-left: 30px;
}
.gnb_wrap{
    height: 165px;
}
.gnb{
    width: 1320px;
    margin: 0 auto;
}
.gnb li{
    float: left;
    margin-top: 100px;
    width: 15%;
    text-align: center;
}
.gnb li a{
    display: block;
    color: #FEFBE2;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 37px;
}
.gnb li:nth-child(3) a{
    margin-top: -80px;
    padding-bottom: 9px;
}
/*submenu*/
.submenu{
    position: absolute;
    top: 165px;
    left: 0;
    width: 100%;
    z-index: 9;
    background-color: rgba(125, 158, 133, 0.5);
    border-top: 1px solid rgba(149, 179, 150, 0.5);
}
.inner_submenu{
    width: 1320px;
    margin: 0 auto;
}
.inner_submenu ul{
    float: left;
    width: 15%;
    height: 150px;
    text-align: center;
}
.ul_1{
    margin-left: 165px;
}
.submenu li a{
    display: block;
    color: #FEFBE2;
    padding: 10px 0px;
}
.submenu li a:hover{
    color: #ffdd6e;
}
/* scroll했을때, 바뀌는 꾸미기 내용 */
.header_scroll{
    background-color: rgba(125, 158, 133, 0.5);
    transition: all 0.5s;
}
.header_scroll .gnb li a{
}
.header_text{
    text-align: center;
    padding-top: 500px;
    color: #FFF8DB;
    font-size: 57px;
    font-family: 'Fraunces', serif;
    font-weight: 100;
    letter-spacing: 5px;
}
.ver_line{
    width: 1px;
    height: 80px;
    background-color: #FEFBE2;
    display: inline-block;
    margin: 50px 0;
}
.small_text{
    font-size: 25px;
    padding-top: 25px;
    letter-spacing: 2px;
}
/*section1*/
.inner_section1{
    width: 1320px;
    margin: 0 auto;
    padding-bottom: 100px;
}
.community{
    position: relative;
    margin-left: 80px;
    margin-top: 100px;
    /* display: inline-block; */
}
.community> li{
    float: left;
    border: 1px solid #8D9F87;
    border-radius: 16px 16px 0 0;
    width: 15%;
    padding: 10px 0;
    text-align: center;
    color: #6E7B69;
    font-family: 'Fraunces', serif;
    font-weight: 100;
}
.community> li.opacity{
    color: #FEFBE2;
}
.opacity{
	background-color: #8D9F87;
}
.tap {
	cursor: pointer;
	display: inline-block;
}
.tap:hover {
	background-color: #b2c9aa;
    color: #FFF8DB;
}
.board{
    border: 1px solid #8D9F87;
    padding: 90px 180px;
    border-radius: 23px;
    overflow: hidden;
}
.board h2{
    text-align: center;
    margin: 30px 0 70px;
}
/* notice */
.communitys>li.on>.box1_1 {
	width: 100%;
	box-sizing: border-box;
}
.communitys>li>.box1_1 {
	height: 0;
	overflow: hidden;
}
.box1_1 {
	width: 950px;
	text-align: left;
	margin: 0 auto;
}
.notice_list{
    border-bottom: 1px solid #ddd;
    overflow: hidden;
}
.notice_list li{
    float: left;
    padding: 15px 0;
}
.notice_list li:nth-child(1){
    width: 5%;
    text-align: center;
}
.notice_list li:nth-child(2){
    width: 65%;
}
.notice_list li:nth-child(3){
    width: 15%;
    text-align: right;
}
.notice_list li:nth-child(4){
    width: 15%;
    text-align: right;
}
.notice_list:hover{
    background-color: #fffef2;
}
.btn{
    text-align: center;
    margin-top: 70px;
}
.btn a{
    display: inline-block;
    border: 1px solid #8D9F87;
    padding: 8px 30px;
}
.btn a:hover{
    background-color: #8D9F87;
    color: #FEFBE2;
}
/*faq*/
.font_10 {
    padding-top: 11px;
}
.right {
    position: relative;
    width: 100%;
    padding: 10px 0;
    float: right;
    overflow: hidden;
    border-radius: 0 20px 20px 0;
}
.right ul li:nth-child(1) {
    text-align: center;
    width: 5%;
    float: left;
}
.right ul li:nth-child(2) {
    width: 90%;
    float: left;
}
.right ul li:nth-child(3) {
    width: 5%;
    float: right;
    padding-top: 17.5px
}
.right>li ul {
    width: 100%;
    height: 50px;
    padding: 7px 0;
    overflow: hidden;
}
.text_info {
    background: #FFFEF6;
    text-align: left;
    overflow: hidden;
    z-index: 9;
}
.right>li .text_info {
    display: none;
    padding: 25px 0 30px 0;
}
.right>li .text_info {
    width: 100%
}
.notice_line {
    height: 1px;
    text-align: center;
    width: 100%;
    margin: auto;
    background: rgba(144, 161, 144, 0.5);
}
.right .font_18 {
    position: relative;
    height: 50px;
    color: #333;
    font-size: 16px;
}
.right .font_18 .noc_po {
    position: absolute;
    left: 2%;
    top: 50%;
    z-index: 9;
    transform: translateY(-50%);
}
.turn {
    transform: rotate(180deg);
}
.plus img {
    transition: transform 0.5s;
}
.text_info p {
    float: left;
    font-size: 16px;
}
.answer{
    width: 8%;
    text-align: center;
}
#Board02 .btn a{
    margin-top: 60px;
}
#Board03 h2{
    margin: 30px 0 20px;
}
.store_border{
    text-align: center;
    border-bottom: 1px solid #6E7B69;
    padding-bottom: 20px;
    margin-bottom: 30px;
}
/* store */
.store_img{
    float: left;
    width: 679px;
}
.store_text{
    float: right;
}
.map{
    text-decoration: underline;
    padding: 30px 0;
    border-bottom: 1px solid #6E7B69;
    margin-bottom: 30px;
}
.store_text .btn a{
    display: block;
}
/* section2 */
#section2{
    width: 1320px;
    margin: 0 auto;
    padding-top: 150px;
}
.img_wrap{
    position: relative;
    margin-bottom: 100px;
}
.img_wrap> img{
    display: block;
}
.cover{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
    background-color: rgba(106, 131, 112, 0.5);
    text-align: center;
    padding-top: 100px;
    box-sizing: border-box;
    color: #FEFBE2;
}
.cover h2{
    padding: 30px 0;
    font-size: 38px;
}
.cover p{
    font-size: 20px;
    line-height: 1.5em;
}
/*footer*/
#footer{
    height: 240px;
    background-color: #354439;
    color: #F8F9EC;
}
.inner_footer{
    width: 1320px;
    margin: 0 auto;
    padding-top: 20px;
}
.footer_wrap{
    height: 200px;
}
.footer_wrap li h1 img{
    width: 100%;
}
.footer_wrap> li{
    float: left;
    width: 22%;
    box-sizing: border-box;
    height: 100px;
    margin: 1.5%;
}
.footer_wrap li:nth-child(4){
    margin-right: 0;
}
.footer_wrap h3{
    border-bottom: 1px solid  rgba(255, 243, 221, 0.3);
    margin-bottom: 20px;
}
.footer_wrap p{
    font-size: 10px;
    line-height: 1.4em;
    margin-bottom: 20px;
}
.sns li{
    float: left;
    width: 25%;
}
.sns li img{
    opacity: 0.5;
}
.sns li img:hover{
    opacity: 1;
}
